<div clas="row">
  <div class="col-xs-12">
    <div class="mat-title" *ngIf="searchResult">
      Found {{searchResult.length}} results for "{{userSearch}}"
    </div>
    <div *ngIf="searchResult && searchResult.length > 0">
      <app-item [itemList]="activePageDataChunk" [pageSize]="10" (addedToCartEvent)="addToCart($event)"></app-item>
      <mat-paginator [length]="searchResult.length" [pageSize]="10" [pageSizeOptions]="[1, 5, 10, 25, 100]" (page)="onPageChanged($event)">
      </mat-paginator>
    </div>
    <div class="mat-title" *ngIf="!searchResult">
      No Results Found
    </div>
  </div>
</div>
<div clas="row" *ngIf="userCart.length > 0">
  <div class="col-xs-12">
    <app-shopping-cart [cartList]="userCart"></app-shopping-cart>
  </div>
</div>
<div clas="row" *ngIf="userSearches.length > 0 && userCart.length <= 0 ">
  <div class="col-xs-12">
  <app-historical-searches (runSearchEvent)="runSearch($event)"></app-historical-searches>
  </div>
</div>
