<mat-sidenav-container class="sidenav-container" *ngIf="manipulatedUserSearches">
  <mat-sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Previous Searches</mat-toolbar>
    <mat-nav-list *ngFor="let search of manipulatedUserSearches ">
      <a mat-list-item (click)="runSearch(search)">{{search.date + " " + search.searchString}}</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
