<div clas="row">
  <div class="col-xs-12">
    <div class="mat-title" *ngIf="searchResult">
        Found {{searchResult.length}} results for "{{userSearch}}"
        <app-item-detail [itemList]="searchResult" (addedToCartEvent)="addToCart($event)"></app-item-detail>
    </div>
    <div class="mat-title" *ngIf="!searchResult">
     No Results Found
    </div>
  </div>
</div>
<div clas="row" *ngIf="userCart.length > 0">
  <div class="col-xs-12">
    <app-shopping-cart [cartList]="userCart"></app-shopping-cart>
  </div>
</div>
